button.btn-success {
  width: 100%;
}
div.col-12 {
  padding-left: 0px;
  padding-right: 0px;
}
app-product-item {
  padding-left: 30px;
  padding-right: 30px;
}
div.container-fluid {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  max-width: 100%;
}