.login-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
}

.logo {
  position: absolute;
  left: 50%;
  top: 0;
  width: 170px;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.login-form {
  border: 2px solid white !important;
  border-radius: 5px;
  padding: 70px 20px 30px 20px;
}

.fa {
  font-size: 20px;
}

.fa-lock {
  padding-right: 1.5px;
}

.forgot-password a{
  font-style: italic;
  text-decoration: none;
}

.boxshadow {
  box-shadow: 0 10px 6px -6px #777;
}

button.btn {
  background-color: #fff;
  margin: auto;
  margin-top: 10px;
}

.ng-valid[required], .ng-valid.required, input.ng-invalid.ng-pristine {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form), input.ng-invalid.ng-pristine.ng-touched {
  border-left: 5px solid #a94442; /* red */
}

.isInvalid {
  border-left: 5px solid #a94442 !important; /* red */
}

.isValid {
  border-left: 5px solid #42A948 !important; /* green */
}