<div class="login-container">
  <form class="login-form" id="login-form" #loginForm="ngForm">
    <div class="form-row align-items-center">
      <img src="assets/images/logo-milk-tea.png" class="logo">
      <label class="sr-only" for="username">Username</label>
      <div class="input-group mb-2 text-center boxshadow no-padding">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-user"></i>
          </div>
        </div>
        <input type="text" name="username" 
          class="form-control" required placeholder="Username" 
          [ngModel]="" #username="ngModel"
          [ngClass]="{'isInvalid': invalidLogin == true, 'isValid': invalidLogin == false}"
          (blur)="setUsername(username.value)">
      </div>
      <label class="sr-only" for="password">Password</label>
      <div class="input-group mb-2 text-center boxshadow no-padding">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-lock"></i>
          </div>
        </div>
        <input type="password" name="password" 
          class="form-control" required placeholder="Password" 
          [ngModel]="" #password="ngModel"
          [ngClass]="{'isInvalid': invalidLogin == true, 'isValid': invalidLogin == false}"
          (blur)="setPassword(password.value)">
      </div>
      <div class="alert alert-danger boxshadow col-12 text-center"
        *ngIf="password.invalid && (password.dirty || password.touched) || username.invalid && (username.dirty || username.touched)">
        <div *ngIf="username?.errors != null && username?.errors.required != null && (username.dirty || username.touched)">
          Username is required
        </div>
        <div *ngIf="password?.errors != null && password?.errors.required != null && (password.dirty || password.touched)">
          Password is required.
        </div>
      </div>
      <div class="alert alert-danger boxshadow col-12 text-center" *ngIf="invalidLogin">
        Invalid username or password!
      </div>
      <button type="submit" class="btn boxshadow text-center" (click)="loginAdmin()">Login</button>
    </div>
  </form>
</div>
