<div class="card flex-row flex-wrap row">
  <div class="card-header border-0 col-2">
    <img src="{{couponPackage.Picture}}" alt="image" class="couponPackage-image">
  </div>
  <div class="card-block px-2 col-10">
    <p class="card-text col-8">Id: {{couponPackage.Id}} Name: {{couponPackage.Name}}</p>
    <div class="group-button col-4 text-center">
      <button class="btn btn-warning mr-3" (click)="edit()">Update</button>
      <button class="btn btn-danger" (click)="delete()">Delete</button>
    </div>
  </div>
</div>