div.milk-tea-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}
div.logo {
  position: relative;
  height: 55px;
}
div.logo img {
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 70px;
}
div.logo p {
  position: absolute;
  top: 30%;
  left: 62%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 23px;
  width: 150px;
}
div.side-bar {
  background: #fff;
  height: 100%;
  width: 200px;
  min-width: 200px;
  z-index: 10;
  position: relative;
  padding: 10px;
}
div.main {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 200px;
  height: 100vh;
  width: 100vw;
}
div.main div.top-bar {
  background-color: rgba(255, 255, 255, 0.4);
  height: 50px;
}
div.main div.content {
  height: calc(100% - 50px);
  padding: 15px;
}
div.main div.content div.content-card {
  background-color: rgba(255, 255, 255, 0.4);
  height: 100%;
  position: relative;
  padding: 20px;
}
div.side-bar a.btn {
  position: relative;
  z-index: 10;
  width: 100%;
  text-decoration: none;
  margin-bottom: 5px;
}