<div class="milk-tea-container">
  <div class="side-bar">
    <div class="logo">
      <p>MILK TEA SHOP</p>
      <img src="assets/images/logo-milk-tea.png" alt="">
    </div>
    <a href="/#/home/product-home" role="button" class="btn btn-outline-primary">Product</a>
    <a href="/#/home/coupon-package-home" role="button" class="btn btn-outline-primary">Coupon Package</a>
    <a href="/#/home/order-home" role="button" class="btn btn-outline-primary">Order</a>
    <a href="/#/home/account-home" role="button" class="btn btn-outline-primary">Account</a>
  </div>
  <div class="main">
    <div class="top-bar">
      
    </div>
    <div class="content">
      <div class="content-card">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>