<div>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit CouponPackage</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancelEdit()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group col-12">
        <input type="text" class="form-control" placeholder="CouponPackage's name" [(ngModel)]="editCouponPackage.Name" name="name" required>
      </div>
      <div class="custom-file col-12">
        <input type="file" class="custom-file-input" id="validatedCustomFile" accept="image/*" (change)="changeImage($event)" required>
        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
      </div>
      <div class="col-12 text-center" *ngIf="url || editCouponPackage.Picture">
        <img [src]="url" class="preview-image" *ngIf="url">
        <img [src]="editCouponPackage.Picture" class="preview-image" *ngIf="!url">
      </div>
      <div class="col-12 text-center">
        <button type="button" class="btn btn-outline-primary mr-3" (click)="saveCouponPackage()">Save</button>
        <button type="button" class="btn btn-outline-secondary" (click)="cancelEdit()">Cancel</button>
      </div>
    </form>
  </div>
</div>