<div class="card flex-row flex-wrap row">
  <div class="card-header border-0 col-2">
    <img src="{{account.Avatar}}" alt="image" class="account-image">
  </div>
  <div class="card-block px-2 col-10">
    <div class="row">
      <div class="col-12">Id: {{account.Id}} </div>
      <div class="col-12">Username: {{account.Username}}</div>
      <div class="col-12">Fullname: {{account.FullName}}</div>
      <div class="col-12">Phone: {{account.Phone}}</div>
      <div class="col-12">Address: {{account.Address}}</div>
    </div>
  </div>
</div>