<div class="card flex-row flex-wrap row">
  <div class="card-header border-0 col-2">
    <img src="{{account.Picture}}" alt="image" class="account-image">
  </div>
  <div class="card-block px-2 col-10">
      <div class="col-1">{{account.Id}} </div>
      <div class="col-2 text-center">{{account.Username}}</div>
      <div class="col-2 ">{{account.FullName}}</div>
      <div class="col-2">0123456789</div>
      <div class="col-4">1A/2B đường Tô Ký, quận 12, TP. HCM</div>
      <div class="col-4">1A/2B đường Tô Ký, quận 12, TP. HCM</div>
  </div>
</div>