<div>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Product</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancelAdd()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group col-12">
        <input type="text" class="form-control" placeholder="Product's name" [(ngModel)]="product.Name" name="name" required>
      </div>
      <div class="custom-file col-12">
        <input type="file" class="custom-file-input" id="validatedCustomFile" accept="image/*" (change)="changeImage($event)" required>
        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
      </div>
      <div class="col-12 text-center" *ngIf="url">
        <img [src]="url" class="preview-image boxshadow">
      </div>
      <div class="col-12 text-center">
        <button type="button" class="btn btn-primary mr-3 boxshadow" (click)="createProduct()">Save</button>
        <button type="button" class="btn btn-secondary boxshadow" (click)="cancelAdd()">Cancel</button>
      </div>
    </form>
  </div>
</div>