/* You can add global styles to this file, and also import other style files */
/* @font-face {
  font-family: Oswald;
  src: url("assets/fonts/Oswald/Oswald-Light.ttf");
} 
* {
  font-family: Oswald;
}*/
@font-face {
  font-family: SourceSansPro;
  src: url("assets/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf");
}
* {
  font-family: SourceSansPro;
}
body {
  min-height: 100vh;
  background: linear-gradient(to right, #ffd89b, #19547b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.no-padding {
  padding: 0 !important;
}
.boxshadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}