div.col {
  position: relative;
}
div.col-1, div.col-3 {
  border-right: 1px solid black;
}
div.col p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
div.row {
  border: 1px solid black;
  margin-bottom: 2px;
}
img.product-image {
  width: 50%;
  height: auto;
}
div.card {
  margin-bottom: 30px !important;
}
div.card-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}